@using System.Diagnostics;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewBag.Hostname</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8" style="height: 110px" id="cpuPlotOverview"></div>
                    <div class="col-xs-4 text-center">
                        <div class="huge" id="cpuOverview">0</div>
                        <div>CPU (%)</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8" style="height: 110px" id="ramPlotOverview"></div>
                    <div class="col-xs-4 text-center">
                        <div class="huge" id="ramOverview">0</div>
                        <div>RAM (%)</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8" style="height: 110px" id="diskPlotOverview"></div>
                    <div class="col-xs-4 text-center">
                        <div class="huge" id="diskOverview">0</div>
                        <div>Disk (%)</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8" style="height: 110px" id="nicPlotOverview"></div>
                    <div class="col-xs-4 text-center">
                        <div class="huge" id="nicOverview">0</div>
                        <div>NIC</div>
                        <div>(%)</div>
                        <div style="font-size:9px;" id="maxY"></div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Process Load
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="#">Action</a>
                            </li>
                            <li>
                                <a href="#">Another action</a>
                            </li>
                            <li>
                                <a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                Caca...
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> System event log
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Filter
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="#">Information</a>
                            </li>
                            <li>
                                <a href="#">Warnings</a>
                            </li>
                            <li>
                                <a href="#">Errors</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">Warnings &Aacute; Errors</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    @{
                        for (int i = 0; i < 10; i++)
                        {
                            EventLogEntry elog = ViewBag.EventLogSystemEntries[i];
                            string iType = "";
                            switch (elog.EntryType)
                            {
                                case EventLogEntryType.Error:
                                case EventLogEntryType.FailureAudit:
                                    iType = "fa fa-exclamation-circle";
                                    break;
                                case EventLogEntryType.Information:
                                    iType = "fa fa-info-circle";
                                    break;
                                case EventLogEntryType.Warning:
                                    iType = "fa fa-warning";
                                    break;
                            }
                    <a href="#" class="list-group-item">
                        <i class="@iType"></i>@elog.Message
                        <span class="pull-right text-muted small">
                            <em>@elog.TimeGenerated</em>
                        </span>
                    </a>
                        }
                    }
                </div>
                <!-- /.list-group -->
                <a href="#" class="btn btn-default btn-block">View All Alerts</a>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <!-- /.panel -->

    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->
<!-- Flot Charts JavaScript -->
<script src="@Url.Content("~/bower_components/flot/excanvas.min.js")"></script>
<script src="@Url.Content("~/bower_components/flot/jquery.flot.js")"></script>
<script src="@Url.Content("~/bower_components/flot/jquery.flot.pie.js")"></script>
<script src="@Url.Content("~/bower_components/flot/jquery.flot.resize.js")"></script>
<script src="@Url.Content("~/bower_components/flot/jquery.flot.time.js")"></script>
<script src="@Url.Content("~/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js")"></script>

<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"></script>

<script src="@Url.Content("~/Scripts/overviews.js")"></script>